/*
This is NOT a mobile first CSS
*/

:root {
  --color_border: #201905;
  --color_shadow: rgba(0, 0, 0, 0.5);
  --color_light: rgba(255, 255, 255, 0.7);
  --color_dark: #2e2817;
  --color_gold: #ae9453;
  --color_xxdark: #180f03;
  --menu-speed: 0.75s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
FONT FAMILIES:
font-family: 'Great Vibes', cursive;
font-family: 'Philosopher', sans-serif;
font-family: 'Advent Pro', sans-serif;
font-family: 'Baskervville', serif;
*/

html {
  scroll-behavior: smooth;
  background-color: var(--color_gold);
  color: var(--color_xxdark);
  user-select: none;
}

hr {
  border: none;
  border-top: 3px solid var(--color_light);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 2;
}

nav {
  background-color: var(--color_dark);
  color: var(--color_gold);
  height: 50px;
  padding: 0 10%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav .brand-container-link {
  position: fixed;
  top: -30px;
  left: 40px;
  width: 150px;
  height: 150px;
  display: grid;
  grid-template-areas: "main";
  justify-items: center;
  align-items: center;
}

/* ******************************* BRAND LOGO ******************************* */
@keyframes bouncing {
  10% {
    transform: translateY(13px);
  }

  17% {
    transform: translateY(0px);
  }

  20% {
    transform: translateY(20px);
  }

  22% {
    transform: translateY(0px);
  }

  27% {
    transform: translateY(13px);
  }

  29% {
    transform: translateY(0px);
  }

  35% {
    transform: translateY(9px);
  }

  39% {
    transform: translateY(0px);
  }

  47% {
    transform: translateY(6px);
  }

  52% {
    transform: translateY(0px);
  }

  63% {
    transform: translateY(4px);
  }

  69% {
    transform: translateY(0px);
  }

  83% {
    transform: translateY(3px);
  }

  100% {
    transform: translateY(0px);
  }
}

nav .brand-container-link .brand-logo {
  grid-area: main;
  z-index: 1;
}

nav .brand-container-link .brand-logo .ll-logo {
  fill-rule: evenodd;
  width: 90px;
}

nav .brand-container-link .brand-logo:active {
  animation-duration: 3s;
  animation-name: bouncing;
}

nav .brand-container-link .brand-logo .ll {
  fill: var(--color_gold);
  transform-origin: center;
  transform: scale(0.9);
}

nav .brand-container-link .brand-logo .inner-circle {
  fill: none;
  stroke: var(--color_gold);
  stroke-width: 3px;
  transform-origin: center;
  transform: scale(0.92);
}

nav .brand-container-link .brand-logo .middle-circle {
  fill: none;
  stroke: var(--color_gold);
  stroke-width: 5px;
  transform-origin: center;
  transform: scale(0.94);
}

nav .brand-container-link .brand-logo .outer-circle {
  fill: var(--color_dark);
}

/* ******************************* END OF BRAND LOGO ******************************* */
nav ul {
  min-width: 700px;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  font-family: "Philosopher", sans-serif;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color_gold);
  white-space: pre;
}

.site-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.main-motif {
  stroke-linejoin: round;
  stroke-width: 1.2px;
  stroke: var(--color_xxdark);
  fill: var(--color_xxdark);
  width: 80px;
  margin-bottom: 0.5rem;
}

.business-name {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 2.8em;
  letter-spacing: 0.5px;
  text-align: center;
  margin-bottom: 0.5rem;
}

.infoline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Advent Pro", sans-serif;
}

.infoline i {
  margin-right: 16px;
  font-size: 1.4em;
}

.infoline p {
  font-size: 1.2em;
  line-height: 1.4em;
  letter-spacing: 2px;
}

.infoline p:first-of-type {
  padding-right: 50px;
}

/* ************************ MAIN CONTENT ************************ */
.main-wrapper {
  width: 90%;
  /* min-width: 1000px; */
  margin: 0 auto;
  margin-top: 50px;
}

.main-wrapper section {
  margin-bottom: 30px;
  padding: 30px;
  box-sizing: border-box;
}

.main-wrapper a[id] {
  position: relative;
  top: -90px;
}

.section-title {
  font-size: 4rem;
  font-family: "Philosopher", sans-serif;
  margin: 1rem 0 2rem;
}

.article-title {
  font-size: 3rem;
  font-family: "Philosopher", sans-serif;
  margin: 1rem 0 2rem;
}

/* ******************************* HOME ******************************* */
.home {
  padding-top: 1rem !important;
}

.home-picture {
  /* background-color: var(--color_dark); */
  height: calc(100vh - (50px + 142px + 20px + 42px));
  /*depend on: nav bar height, side title height + padding, main content section bottom margin, footer height */
  min-height: 700px;
  border-radius: 40px;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

/* USE THIS FOR ONLY ONE PICTURE */

.home-picture::before {
  background-image: url("../images/front page/lash-bg-02.jpg");
  background-color: var(--color_dark);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* filter: brightness(0.9); */
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

/* USE THIS FOR PATTERN BACKGROUND */
/* .home-picture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-image: url("../images/graphics/lash_2.png");
  background-size: 200px;
  background-color: #ffffff2e;
} */

.home h2 {
  color: var(--color_dark);
  text-transform: uppercase;
  z-index: 1;
  font-family: "Philosopher", sans-serif;
  font-size: 7em;
  text-align: center;
  text-shadow: 8px 8px 4px var(--color_shadow);
  position: absolute;
  bottom: 2rem;
  right: 3rem;
}

/* ******************************* PORTFOLIO ******************************* */

/*
      all CSS for the gallery are in dedicated files:
      CSS/gallery/gallery.css,
      CSS/gallery/slideshow.css,
*/

/* +++++++++++++++++++++++++++++++++++++++++++ */
.portfolio .testimonials h4 {
  font-family: "Philosopher", sans-serif;
  font-size: 2em;
  font-weight: normal;
}

.portfolio .testimonials p {
  font-family: "Advent Pro", sans-serif;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 2px;
  text-align: right;
}

.portfolio .testimonials hr {
  width: 50%;
  border: none;
  border-top: 10px dotted var(--color_light);
  margin: 50px auto 30px;
}

/* ******************************* SERVICES ******************************* */
.descriptions {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 60px;
}

.descriptions .services {
  text-align: right;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 40px;
}

.descriptions .services.picture-left {
  text-align: left;
  grid-template-columns: 1fr 2fr;
}

.descriptions .services img {
  width: 100%;
}

.text {
  display: grid;
  grid-row-gap: 18px;
}

.text h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 3rem;
  line-height: 3.6rem;
}

.text h3 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2.2rem;
  line-height: 3rem;
  font-weight: 100;
}

/* =================================== */
.warnings {
  width: 90%;
  margin: 0 auto;
  padding: 16px 50px 0;
  border: 2px solid var(--color_border);
  border-radius: 40px;
  background-color: var(--color_light);
}

.warnings span {
  font-size: 2em;
  margin-right: 20px;
}

.warnings h3 {
  font-family: "Philosopher", sans-serif;
  font-size: 3em;
  text-align: center;
  margin-bottom: 20px;
}

.warnings p {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
}

.warnings h4 {
  font-family: "Great Vibes", cursive;
  font-size: 6em;
  font-weight: 400;
  text-align: right;
}

/* ******************************* PRICE ******************************* */

.price .pricelists {
  display: grid;
  gap: 3rem;
  justify-items: center;
}

.price .container-a,
.price .container-b {
  padding: 26px 50px 36px;
  border: 2px solid var(--color_border);
  border-radius: 40px;
  background-color: var(--color_light);
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 18px;
}

.price .container-a {
  row-gap: 8px;
}

.price .container-b {
  row-gap: 22px;
}

.price .sub-container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 22px;
  row-gap: 10px;
}

/* list title */
.price .container-a h2,
.price .container-b h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 3.6rem;
  line-height: 4.6rem;
  grid-column: 1/3;
  padding-left: 20px;
}

/* list title */
.price .container-a h2 {
  /* depend on container row-gap */
  margin-bottom: calc(30px - 8px);
}

/* list title */
.price .container-b h2 {
  /* depend on container row-gap */
  margin-bottom: calc(30px - 22px);
}

/* service names */
.price .container-a p,
.price .container-b p {
  font-family: "Advent Pro", sans-serif;
  font-size: 2.4em;
}

/* prices */
.price .container-a h4,
.price .container-b h4 {
  font-family: "Philosopher", sans-serif;
  font-size: 2.4em;
  text-align: right;
}

/* pricevariant names */
.price .container-a h3,
.price .container-b h3 {
  font-family: "Advent Pro", sans-serif;
  font-size: 2em;
  font-weight: normal;
}

/* ******************************* ABOUT ******************************* */
/* titles */
.about h1 {
  /* font-family: 'Advent Pro', sans-serif; */
  font-family: "Philosopher", sans-serif;
  font-size: 4rem;
  line-height: 5rem;
  margin-bottom: 30px;
}

/* motto */
.about h3 {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 4rem;
  line-height: 6rem;
  text-align: right;
}

/* main text */
.about p {
  font-family: "Baskervville", serif;
  font-style: italic;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.7rem;
  letter-spacing: -0.6px;
  text-align: justify;
}

.about .self-introduction {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 1rem;
}

.about .self-introduction .sign {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-size: 3.3rem;
  line-height: 4rem;
  text-align: left;
  margin: 0;
}

.about .self-introduction .picture-container {
  display: grid;
  grid-row-gap: 50px;
  justify-items: center;
  align-content: start;
}

.about .self-introduction .picture {
  width: 70%;
  border: 1px solid var(--color_border);
  border-radius: 2rem;
  box-shadow: 0 0 20px var(--color_shadow);
}

/* *************************** CONTACT *************************** */

.contact a {
  text-decoration: none;
  color: var(--color_xxdark);
}

.contact__cont {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  grid-column-gap: 3rem;
  grid-row-gap: 0.8rem;
}

.contact__cont--title {
  font-size: 2.6rem;
  justify-self: center;
}

.contact__cont--info {
  font-size: 2.2rem;
  font-family: "Philosopher", sans-serif;
}
/* *************************** FOOTER *************************** */
footer {
  width: 100%;
  padding: 5px 0;
  position: fixed;
  bottom: 0;
  background-color: var(--color_dark);
  color: var(--color_gold);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

footer i {
  font-size: 1.4rem;
  margin-right: 16px;
}

footer h3 {
  font-family: "Philosopher", sans-serif;
  letter-spacing: 1.4px;
  line-height: 1.6rem;
  margin-right: 16px;
}

footer p {
  font-family: "Advent Pro", sans-serif;
  letter-spacing: 1.2px;
  line-height: 2rem;
}

/* MOBILE DESIGN */
@media screen and (max-width: 1200px) {
  hr {
    border-width: 2px;
  }

  nav {
    height: 40px;
    padding: 0;
    align-items: start;
  }

  nav .brand-container-link {
    top: -18px;
    left: 15px;
    width: 110px;
    height: 110px;
  }

  /* ******************************* BRAND LOGO ******************************* */
  nav .brand-container-link .brand-logo .ll-logo {
    width: 70px;
  }

  .site-title {
    margin-bottom: 2rem;
  }

  .main-motif {
    stroke-width: 0.4px;
    width: 90px;
  }

  .business-name {
    font-size: 2em;
  }

  .infoline {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 0.8rem;
    grid-template-columns: auto auto;
  }

  .infoline i {
    margin-right: 0;
    font-size: 1.2em;
  }

  .infoline p {
    font-size: 1em;
    line-height: 1.2em;
    letter-spacing: 0.4px;
  }

  .infoline p:first-of-type {
    padding-right: 0;
  }

  /* ************************ MAIN CONTENT ************************ */
  .main-wrapper {
    width: 90%;
    margin-top: 4rem;
  }

  .main-wrapper section {
    padding-left: 0;
    padding-right: 0;
  }

  .main-wrapper a[id] {
    position: relative;
    top: -70px;
  }

  .section-title {
    font-size: 2.4rem;
    margin: 1rem 0 2rem;
  }

  .article-title {
    font-size: 2.2rem;
  }

  /* ******************************* HOME ******************************* */
  .home-picture {
    background-image: none;
    height: calc(100vw - (50px + 142px + 20px + 42px));
    /* depend on: nav bar height, side title height + padding, main content section bottom margin, footer height */
    min-height: 300px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 1rem;
    filter: brightness(1);
  }

  .home h2 {
    font-size: 2.4em;
    text-shadow: 5px 5px 3px var(--color_shadow);
    bottom: 0.4rem;
    right: 1rem;
  }

  /* ******************************* PORTFOLIO ******************************* */
  /* +++++++++++++++++++++++++++++++++++++++++++ */
  .portfolio .testimonials h4 {
    font-size: 1.4em;
  }

  .portfolio .testimonials p {
    font-size: 1.4em;
    letter-spacing: 1.2px;
  }

  .portfolio .testimonials hr {
    width: 80%;
    border-width: 5px;
    margin: 30px auto;
  }

  /* ******************************* SERVICES ******************************* */
  .descriptions .services {
    display: initial;
    text-align: left;
  }

  .descriptions .services img {
    display: none;
  }

  .text h2 {
    font-size: 1.8rem;
    line-height: 2rem;
  }

  .text h3 {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }

  /* =================================== */
  .warnings {
    width: auto;
    padding: 20px;
  }

  .warnings span {
    font-size: 2em;
  }

  .warnings h3 {
    font-size: 1.6em;
    margin-bottom: 0.6rem;
  }

  .warnings p {
    font-size: 1em;
    font-weight: 500;
  }

  .warnings h4 {
    font-size: 3em;
  }

  /* ******************************* PRICE ******************************* */

  .price .pricelists {
    gap: 2rem;
  }

  .price .container-a,
  .price .container-b {
    padding: 20px 20px;
    column-gap: 10px;
    border-radius: 20px;
  }

  .price .container-a {
    row-gap: 10px;
  }

  .price .container-b {
    row-gap: 10px;
  }

  .price .sub-container {
    column-gap: 10px;
    row-gap: 2px;
  }

  /* list title */
  .price .container-a h2,
  .price .container-b h2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  /* service names */
  .price .container-a p,
  .price .container-b p {
    font-size: 1.2em;
  }

  /* prices */
  .price .container-a h4,
  .price .container-b h4 {
    font-size: 1.2em;
  }

  /* pricevariant names */
  .price .container-a h3,
  .price .container-b h3 {
    font-size: 1.2em;
  }

  /* ******************************* ABOUT ******************************* */
  /* motto */
  .about h3 {
    font-size: 2.8rem;
    line-height: 3rem;
  }

  /* main text */
  .about p {
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 0px;
  }

  .about .self-introduction {
    display: grid;
    grid-template-columns: initial;
  }

  .about .self-introduction .sign {
    font-size: 2.8rem;
    line-height: 3.2rem;
  }

  .about .self-introduction .picture:last-of-type {
    display: none;
  }

  /* *************************** CONTACT *************************** */
  .contact__cont {
    margin: 0;
    grid-column-gap: 1rem;
    grid-row-gap: 0.6rem;
  }

  .contact__cont--title {
    font-size: 1.8rem;
  }

  .contact__cont--info {
    font-size: 1.2rem;
  }

  /* *************************** FOOTER *************************** */
  footer {
    position: initial;
    width: 100vw;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
  }

  footer i {
    font-size: 1rem;
  }

  footer h3 {
    font-size: 1rem;
  }

  footer h3:last-of-type {
    grid-column: 1 / 3;
  }

  footer p {
    font-size: 0.8rem;
    grid-column: 1 / 3;
  }
}
