* {
  margin: 0;
  padding: 0;
}

html {
  user-select: none;
  color: #222;
}

.bg {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

/* main container for pricelists */
.pricelists {
  position: relative;
  padding: 20px 50px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* justify-items: start; */
  align-items: start;
  grid-column-gap: 30px;
}

/* container title */
.container-a h2,
.container-b h2 {
  font-family: "Philosopher", sans-serif;
  font-size: 3em;
  grid-column: 1/3;
}

.container-a h2 {
  /* depend on container row-gap */
  margin-bottom: calc(16px - 6px);
}

.container-b h2 {
  /* depend on container row-gap */
  margin-bottom: calc(16px - 10px);
}

/* treatment names */
.container-a p,
.container-b p {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.8em;
}

/* prices */
.container-a h4,
.container-b h4 {
  font-family: "Philosopher", sans-serif;
  font-size: 2.1em;
  text-align: right;
}

/* pricevariant names */
.container-a h3,
.container-b h3 {
  font-family: "Advent Pro", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
}

.container-a,
.container-b {
  padding: 14px 30px 16px;
  border: 2px solid rgba(0, 0, 0, 1);
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.9);
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 18px;
}

.container-a {
  grid-row-gap: 16px;
}

.container-b {
  grid-row-gap: 10px;
  align-self: stretch;
}

.sub-container {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 22px;
  grid-row-gap: 0;
}

@media print {
  @page {
    size: landscape;
    margin: 1.5cm;
  }
  /* 
  /* HIDE UNWANTED ELEMENTS */

  /* GLOBAL TYPOGRAPHY RESET */
  body {
    font-family: Georgia, serif;
    font-size: 10pt;
    line-height: 12pt;
    margin: 0;
    padding: 0;
  }

  /* LAYOUT RESET */
  .pricelists {
    width: fit-content;
    margin: 0 auto;
    padding: 0;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 80pt;
    justify-content: start;
  }

  .container-a,
  .container-b {
    width: fit-content;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    grid-gap: 10pt;
  }

  /* SPECIFICS */
  .pricelists p,
  .pricelists h2,
  .pricelists h3,
  .pricelists h4 {
    font-family: Georgia, serif;
    font-size: 14pt;
    line-height: 18pt;
    background: none;
    color: #000;
  }

  .pricelists h2 {
    font-size: 24pt;
    line-height: 38pt;
  }
}
